html {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0px 1px 9px #ffffff;

}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: linear-gradient(50deg, rgb(88, 231, 236, .9), rgb(253, 127, 253, .6));
}

#container {
    min-width: 800px;
    max-width: 1000px;
    margin: auto;
}

header {
    min-width: 800px;
    z-index: 100;
    position: static;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background: rgba(143, 248, 129, 0.24);
    text-align: center;
    box-shadow: 0px 5px 50px 5px rgb(0, 0, 0, .3);
}

#title {
    font-family: 'Fugaz One', cursive;
    margin-top: 0;
    padding-top: 5px;
    font-size: 4em;
}

main {
    width: 100%;
    margin: auto;
    margin-top: 55px;
    align-items: center;
    text-align: center;
}

#user_pick {
    font-size: 1.4em;
    margin-top: -35px;
    text-shadow: 0px 3px 9px #ffffff;
}

#bar {
    background: black;
    margin: auto;
    height: 2px;
    width: 200px;
    margin-top: -10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 3px #ffffff98;
}

.option {
    display: inline;
    align-items: center;
    margin: auto;
    text-align: center;
}

#vs {
    font-size: 2.2em;
    font-style: italic;
    margin-top: 25px;
}

button {
    width: 25%;
    height: 150px;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    background: rgb(255, 249, 249);
    border: none;
    box-shadow: 0px 12px 25px 5px rgba(43, 43, 43, 0.178);
}

#play:focus {
    outline: 0;
}
button:hover {
    transform: scale(1.01);
}
#rock:focus {
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
    outline-color: black;
}
#rock:hover {
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
}
#paper:focus {
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
    outline-color: black;
}
#paper:hover {
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
}
#scissors:focus {
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
    outline-color: black;
}
#scissors:hover {
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
}

#play {
    height: 75px;
    font-size: 2.2em;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

h4 {
    margin-top: 19px;
}

#holder {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

#rock_pic {
    object-fit: none;
    height: 95%;
    width: 75px;
    object-position: 11%;
}

#paper_pic {
    object-fit: none;
    height: 95%;
    width: 75px;   
}

#scissors_pic {
    object-fit: none;
    height: 95%;
    width: 75px;
    object-position: 89%;
}

#outcome {
    background: rgb(255, 249, 249);
    height: 150px;
    width: 30%;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 0px 25px 5px rgba(43, 43, 43, 0.432);
    margin-top: -20px;
}

.results {
    margin: auto;
    width: 80%;
    height: 50px;
    margin-top: 40px;
}

#compPickPhoto {
    object-fit: none;
    height: 100%;
}

#bottom_row {
    margin: auto;
    font-size: 1.5em;
}

#user_score {
    float: left;
    margin-top: -40px;
    margin-left: 11%;
    position: fixed;
    left: 0;
    z-index: -10;
}

#computer_score {
    margin-top: -40px;
    margin-right: 10%;
    position: fixed; 
    right: 0;
    float: right;
    z-index: -10;
}